$color-primary: maroon;
$color-secondary: #e60000;
$color-hover: green;
$color-background: #ffffee;
$color-table-header: #B82100;
$color-box-stats-online: #5FA75E;
$color-box-stats-normal: #DDBEAB;
$color-box-header: #F2E1D6;
$color-box-body: #fffff5;
$color-line-bottom: #C4A38E;
$color-span: #800000;
$border-color-header: #F7E8DF;

$color-board-background-box: #F5E1DD;
$color-board-border-box: #E13611;
$color-border-input: #B3917B;
$color-button-send: #529E5A;

$color-span-green: #1F8F2A;
$color-button-resp: #C74343;
$color-button-plus: #C26666;
$color-span-responses: #AB5C5C;

$color-box-selected: #F0D1BD;
$color-border-box-selected: #d1b19b;

$color-text-404-h1: #e04000;
$color-text-404-h2: #6e0000;

$color-response-box-header: #bd0003;

