<div class="body-rules">
  <div class="text-center padding">
    <img src="./assets/images/hispachan.png" class="img-fluid"/>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-header text-center title">
        <h1 class="h1-style-header"><strong>DESARROLLADORES</strong></h1>
      </div>
    </div>

    <div class="box">
      <div class="card box-border">
        <div class="card-header text-center title-box">
          <h1 class="h1-style">¿QUÉ SOFTWARE USA {{appName.toUpperCase()}}?</h1>
        </div>
        <div class="card-body">
          <p class="normal-text">
            El proyecto de {{appName}} es una re-edición de los ya conocidos tablones de imagenes como 4Chan e
            Hispachan, implementando nuevas herramientas existentes en el mercado, en este caso se divide en dos partes
            (front-end y back-end), las herramientas utilizadas para este caso son:
          </p>

          <p class="list-item">• Angular 8 para el front-end (Typescript)</p>
          <p class="list-item">• NodeJS con Express para el back-end (Typescript).</p>
          <p class="list-item">• MongoDB como base de datos.</p>
          <p class="list-item">• DigitalOcean Space como almacén de archivos estáticos.</p>

        </div>
      </div>
    </div>

    <div class="box">
      <div class="card box-border">
        <div class="card-header text-center title-box">
          <h1 class="h1-style">¿CÓMO PUEDO COLABORAR?</h1>
        </div>
        <div class="card-body">
          <p class="normal-text">
            Aunque {{appName}} funciona con herramientas conocidas y actuales del mercado, aún falta implementar muchos
            features y si quieres aprender un poco más y aportar código con tu usuario de GitHub, ¡ayudanos!.
          </p>

          <p class="normal-text">
            Si quieres aportar debes comenzar con copiar el proyecto del repositorio y seguir la documentación para poder
            correrlo de manera local dentro de tu computador.
          </p>

          <p class="normal-text">
            Luego ya puedes comenzar con el desarrollo de nuevos features o ideas que tengas para mejorar la plataforma.
            Todas las peticiónes de código se deben hacer por una "Pull Request" y necesita pasar por diversas
            revisiones para su aprovación.
          </p>

          <p class="normal-text">
            Cuando tu código sea aprovado pasará a un proceso de QA (Quality Assurance) donde se va a someter a diversas
            pruebas por varios usuarios.
          </p>

          <p class="normal-text">
            Al terminar el ciclo, tu código pasará a producción y podrás ver tus nuevas actualizaciones en {{appName}}
            con tu nombre en la historia dentro del repositorio.
          </p>

        </div>
      </div>
    </div>


  </div>
</div>
