<div class="body-rules">
  <div class="text-center padding">
    <img src="./assets/images/ucnchan.png" class="img-fluid"/>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header text-center title">
        <h1 class="h1-style-header"><strong>INFORMACIÓN Y REGLAS</strong></h1>
      </div>
    </div>

    <div class="box">
      <div class="card box-border">
        <div class="card-header text-center title-box">
          <h1 class="h1-style">¿QUÉ ES {{appName.toUpperCase()}}?</h1>
        </div>
        <div class="card-body">
          <p class="normal-text">
            <strong>{{appName}}</strong> es un tablón de imágenes y debate anónimo (también llamado imageboard o chan)
            en español donde
            cualquiera puede escribir mensajes y compartir imágenes. Está especialmente dedicado a toda la comunidad
            hispanohablante de internet y no es necesario estar registrado para participar.
          </p>
          <p class="normal-text">
            {{appName}} es un re-edición de los tablones imagenes con nuevas
            herramientas de desarrollo. Nuestro sistema de interacción es similar al
            de
            4chan (Estados Unidos) y HispaChan (Latino America), lo que nos permite enriquecer la cultura anónima y de
            los fenómenos
            de internet entre la comunidad hispanohablante.
          </p>
        </div>
      </div>
    </div>


    <div class="box">
      <div class="card box-border">
        <div class="card-header text-center title-box">
          <h1 class="h1-style">REGLAS</h1>
        </div>
        <div class="card-body">
          <p class="highlighted-text"><strong>REGLAS GLOBALES</strong></p>
          <p class="normal-text"><strong>1.</strong> {{appName}} puede contener imágenes o textos no apropiados para
            menores de edad. Si tienes menos de 18
            años, abandona Hispachan inmediatamente.</p>

          <p class="normal-text"><strong>2.</strong> No compartas, postees, pidas o enlaces contenido que viole las
            leyes de tu país o las leyes de EEUU ya que los servidores se encuentran en ese país.</p>

          <p class="normal-text"><strong>3.</strong> Postea siempre de forma constructiva y con ánimo de aportar a la
            comunidad. Si odias Hispachan (su
            comunidad, su staff, sus reglas, entre otros) NO eres bienvenido. El staff se reserva el derecho a eliminar
            los
            mensajes y banear a los usuarios que a su juicio perjudiquen a {{appName}} o atenten contra su estabilidad e
            integridad.</p>

          <p class="normal-text"><strong>4.</strong> No está permitido el "shitposting" (cualquier contenido de pésima
            calidad posteado de forma consciente
            para ensuciar los tablones). Algunos ejemplos:</p>

          <p class="list-item">• Horrores ortográficos, posts indescifrables, imágenes y textos de pésima calidad,
            etc.</p>
          <p class="list-item">• Repetición reiterada de contenido ("flood").</p>
          <p class="list-item">• Anunciar tus "sages", "hides" y reportes.</p>
          <p class="list-item">• Abuso y exceso de GET's.</p>
          <p class="list-item">• Desvío sistemático de hilos.</p>
          <p class="normal-text">• Cualquier contenido que reduzca la calidad percibida de los tablones.</p>

          <p class="normal-text"><strong>5.</strong> No se permite el spam de ningún tipo. Esto incluye invitaciones a
            tu sala de chat,
            Discord, grupo de
            Facebook, Whatsapp, Skype, Telegram, Kik, etc. Si quieres hablar con usuarios de {{appName}}, hazlo en
            {{appName}}
            o no lo hagas.</p>

          <p class="normal-text"><strong>6.</strong> No pidas o compartas información privada de otras personas sin su
            consentimiento.</p>

          <p class="normal-text"><strong>7.</strong> No está permitido usar avatares ni firmas de ningún tipo, ni
            fomentar que otros las
            usen.</p>

          <p class="normal-text"><strong>8.</strong> No está permitido el contenido para adultos en todos los tablones
            ni siquiera los
            tablones (NSFW).</p>
        </div>


        <div class="box">
          <div class="card box-border">
            <div class="card-header text-center title-box">
              <h1 class="h1-style">¿APRENDIENDO A USAR {{appName.toUpperCase()}}?</h1>
            </div>
            <div class="card-body">
              <p class="list-item"><strong>¿Cómo puedo postear anónimamente?</strong></p>
              <p class="normal-text">Todos los post se guardan de manera anonima, pero se van a guardar las
                direcciones IP para futuras funciones</p>

              <p class="list-item"><strong>¿Cómo respondo a un post concreto?</strong></p>
              <p class="normal-text">Haz click en su número de ID (al lado del símbolo /#/) y se abrirá la ventana de
                respuesta.</p>

              <p class="list-item"><strong>¿Cómo añado a mi mensaje el link a un post o a otro tablón?</strong></p>
              <p class="list-item">Escríbelos con este formato:</p>
              <p class="normal-text">• Si es un post del mismo tablón: <span class="highlighted-text">>ID</span>
                (Ejemplo: <span class="highlighted-text">>1434347</span>).</p>

              <p class="list-item"><strong>¿Cómo busco la fuente de una imagen posteada?</strong></p>
              <p class="normal-text">Haz click en el icono [S] que se encuentra justo al lado del nombre de archivo de
                la imagen.</p>

              <p class="list-item"><strong>¿Cómo me identifico como OP dentro de mi hilo?</strong></p>
              <p class="normal-text">Introduce OP en el campo de "Opciones".</p>

              <p class="list-item"><strong>BBCodes</strong> (algunos no están disponibles en todos los tablones):</p>
              <p class="list-item">• ¿Cómo escribir en negrita?: '''tu texto aquí'''</p>
              <p class="list-item">• ¿Cómo subrayar?: __tu texto aquí__</p>
              <p class="list-item">• ¿Cómo escribir en cursiva?: ''tu texto aquí''</p>
              <p class="list-item">• ¿Cómo tachar?: ~~tu texto aquí~~</p>
              <p class="list-item">• ¿Cómo escribir texto verde?: Escribe ">" (sin las comillas) delante del texto. El
                texto verde sirve para citar, ironizar o abreviar una historia, no lo uses sólo "para que quede más
                bonito en verde".</p>
              <p class="normal-text">• ¿Cómo escribir texto rosa/rojo?: Escribe "<" (sin las comillas) delante del
                texto. El texto rosa/rojo sirve para enfatizar algo, no lo uses sólo "para que quede más bonito en
                rosa".</p>
            </div>


            <div class="box">
              <div class="card box-border">
                <div class="card-header text-center title-box">
                  <h1 class="h1-style">PREGUNTAS TÉCNICAS</h1>
                </div>
                <div class="card-body">
                  <p class="normal-text highlighted-text"><strong>¿QUÉ SOFTWARE USA {{appName.toUpperCase()}}?</strong>
                  </p>
                  <p class="normal-text">
                    Las herramientas que componen {{appName}} funcionaba con Angular 8 y un backend en NodeJS - Express
                    (Typescript)
                    inspirado en los tablones de imagenes como 4chan e Hispachan. Todo el software se encuentra
                    disponible en GitHub para los desarrolladores que quieran apoyar el proyecto
                  </p>

                  <p class="normal-text highlighted-text"><strong>¿DÓNDE ESTÁ ALOJADO {{appName.toUpperCase()}}
                    ?</strong>
                  </p>
                  <p class="normal-text">
                    Actualmente {{appName}} está alojado en un servidor compartido (VPS) en EEUU. Usamos también
                    servicios de storage similares a S3 de Amazon.
                  </p>

                  <p class="normal-text highlighted-text"><strong>¿CÓMO PUEDO AYUDAR CON EL DESARROLLO DEL
                    SITIO?</strong>
                  </p>
                  <p class="normal-text">
                    Si tienes conocimientos de desarrollo de software/programación y quieres ayudar con el desarrollo de
                    {{appName}}, puedes colaborar en el repositorio de GitHub, tanto en el <a
                    href="https://github.com/Alpha018/clone-chan-frontend.git">front-end</a> (Angular 8) como en
                    el <a href="https://github.com/Alpha018/clone-chan-backend.git">back-end</a> (Typescript + Express).
                  </p>

                  <p class="normal-text">Si tienes conocimientos en estas herramientas ponte en contacto a través de un
                    "Issue" en GitHub
                    (existen varias tareas por hacer). Por otro lado, si quieres generar un feature, la actualización de
                    código se
                    hace a través de una "Pull Request"</p>
                </div>


                <div class="box">
                  <div class="card box-border">
                    <div class="card-header text-center title-box">
                      <h1 class="h1-style">LEGAL</h1>
                    </div>
                    <div class="card-body">
                      <p class="normal-text highlighted-text"><strong>POLÍTICA DE PRIVACIDAD</strong></p>

                      <p class="normal-text">
                        Al navegar por Hispachan aceptas que guardamos las direcciones IP de los usuarios esto para:
                      </p>

                      <p class="list-item">• Gestionar las funcionalidades técnicas del sitio.</p>
                      <p class="normal-text">• Obtener datos estadísticos de navegación.</p>

                      <p class="normal-text">
                        También almacenamos temporalmente la IP de los usuarios que postean hasta que los posts son
                        eliminados, con la única finalidad de gestionar el sitio. Valoramos mucho la privacidad de los
                        usuarios y los metadatos asociados a un post nunca serán públicos para terceras personas
                        (excepto por requerimiento legal de las autoridades derivado de una orden judicial).
                      </p>

                      <p class="normal-text highlighted-text"><strong>AVISO LEGAL</strong></p>

                      <p class="normal-text">El contenido de {{appName}} es para usuarios adultos y puede no ser
                        apropiado
                        para menores de edad. Si eres menor de 18 años, abandona {{appName}}.</p>

                      <p class="normal-text">{{appName}} hace su mejor esfuerzo en moderar y eliminar del sitio el
                        contenido que no cumpla
                        las reglas y la legalidad vigente. Sin embargo, {{appName}} no asume ninguna responsabilidad
                        sobre lo publicado en nuestros tablones: la responsabilidad de los comentarios e imágenes
                        publicados corresponde exclusivamente a los usuarios.</p>

                      <p class="normal-text">Las opiniones publicadas en {{appName}} no tienen por qué representar las
                        opiniones de la
                        administración ni de los miembros del staff.</p>

                      <p class="normal-text">Todas las marcas y copyrights en esta página web son propiedad de sus
                        respectivos autores.</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
