@import "../types/colors";

.header-box-tabs {
  text-align: center;
  font-size: 95%;
  line-height: 140%;

  border: 1px solid $color-box-stats-normal;
  background: $border-color-header;
  border-radius: 5px;

  .span-tab {
    color: $color-secondary;
    &:hover {
      color: $color-hover;
      cursor: pointer;
    }
  }

  .span-separator {
    color: $color-span;
  }
}

.header-tabs {
  margin: 10px;
}

.hr {
  color: $color-line-bottom;
  background-color: $color-line-bottom;
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  .text-logo {
    color: $color-secondary;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 180%;
    line-height: 120%;
    font-family: sans-serif;
  }

  .span-logo {
    vertical-align: middle;
    font-size: 40%;
    padding: 3px 5px 3px 5px;
    border-radius: 4px;
    background-color: $color-board-background-box;
    color: $color-table-header;
    border: 1px solid $color-board-border-box;
  }
}

.base-button {
  color: $color-secondary;
  font-size: 92%;
  margin-top: 5px;

  &:hover {
    color: $color-hover;
    cursor: pointer;
  }
}

.base-input {
  margin-top: 5px;
  margin-right: 15px;

  .search-thread {
    border: 1px solid $color-border-input;
    border-radius: 3px;
    line-height: 20px;
    width: 125px;
    font-size: 10px;
  }
}

.base-text {
  .second-text {
    font-size: 85%;
    color: $color-primary;
  }

  .center-text {
    text-align: center;
  }
}

.form-style {
  display: grid;
  grid-template-columns: 80px 250px 70px;
  grid-auto-rows: 36px 36px 145px 36px;
  grid-gap: 10px;
  justify-content: center;
  align-content: start;

  .box-form {
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 85%;
    border-radius: 4px;
    background-color: $color-board-background-box;
    color: $color-table-header;
    border: 1px solid $color-box-stats-normal;
  }

  .text-area {
    resize: none;
    height: 85%;
    width: 100%;
  }

  .input-file {
    font-size: 10px;
    align-self: center;
  }

  .input-form {
    border: 1px solid $color-border-input;
  }

  .button-send {
    color: white;
    background-color: $color-button-send;
    border-radius: 3px;

    &:disabled {
      opacity: .65;
    }
  }

}

.box-thread {

  margin: 10px;

  .padding-top {
    padding-top: 10px;
  }

  a {
    color: $color-secondary;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 92%;
    line-height: 145%;

    &:hover {
      color: $color-hover;
      cursor: pointer;
    }
  }

  .text-span-info {
    font-size: 80%;
    color: $color-span;
    font-family: sans-serif;
    line-height: 145%;
  }

  .span-ellipsis {
    text-overflow: ellipsis;
    max-width: 30%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
  }

  .box-content {
    background: inherit;
    font-family: sans-serif;
    font-size: 92%;
    line-height: 145%;

    .image-size {
      padding: 15px;
      border-radius: 20px;

      @media (max-width: 720px) {
        width: 70%;
        height: 70%;
      }
      @media (min-width: 721px) {
        width: 20%;
        height: 20%;
      }
    }

    .header-tab-thread {
      width: 70%;
      padding-top: 15px;
      padding-left: 20px;
      @media (max-width: 720px) {
        width: 100%;
      }
    }

    .span-title {
      color: $color-span;
      font-weight: bold;
      line-height: 145%;
      text-overflow: ellipsis;
      max-width: 40%;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
    }

    .span-author {
      padding-left: 5px;
      color: $color-hover;
      font-weight: bold;
    }

    .span-date {
      padding-left: 5px;
      color: $color-secondary;

      &:hover {
        color: $color-hover;
        cursor: pointer;
      }
    }

    .span-copy {
      padding-left: 5px;
      color: $color-secondary;
      font-weight: bold;

      &:hover {
        color: $color-hover;
        cursor: pointer;
      }
    }

    .span-stats {
      color: $color-span-responses;
      padding-left: 5px;
    }

    .button-resp {
      padding-top: 2px;
      padding-bottom: 2px;
      margin-left: 5px;
      cursor: pointer;
      border-radius: 3px;
      background: $color-button-resp;
      color: $color-background;

      &:hover {
        background: $color-button-send;
      }
    }

    .button-plus {
      padding: 1px 6px;
      cursor: pointer;
      border-radius: 3px;
      background: $color-button-plus;
      color: $color-background;

      &:hover {
        background: $color-button-send;
      }
    }

    .box-base {
      display: flex;
      flex-direction: column;

      .box-response {
        min-width: 320px;
        max-width: 50%;
        border: 1px solid $color-box-stats-normal;
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: 20px;

        .header {
          background: $color-box-header;
          border-bottom: none;
        }

        .body {
          margin: 0;
          padding: 0;
          background: $color-box-header;
        }

        .selected {
          background: $color-box-selected;
        }
      }
    }
  }
}

.quick-form {
  position: fixed;
  top: 150px;
  right: 20px;
  background-color: $color-board-background-box;
  padding: 10px;
  border: 1px solid $color-border-input !important;
  border-radius: 4px;
  z-index: 1;
  visibility: hidden;

  .form-style {
    display: grid;
    grid-template-columns: 80px 230px 60px;
    grid-auto-rows: 36px 145px 36px;
    grid-gap: 10px;
    justify-content: center;
    align-content: start;
    padding-right: 50px;
  }

  .header-box-response {
    font-size: 95%;
    line-height: 140%;
    border: 1px solid $color-box-stats-normal;
    background: $color-response-box-header;
    border-radius: 5px;

    .span-tab {
      color: $color-box-body;
    }
  }
}

.pagination-custom {
  margin-top: 20px;
  border: 1px solid #DDBEAB;
  background: #F2E1D6;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  display: flex;
  gap: 10px;

  .a-style {
    background: #F2E1D6;
    border: none;
  }

  .a-selected {
    color: #800000;
  }

  .next-prev-button {
    border: 1px solid #DDBEAB;
    border-radius: 3px;
    background: #C74343;
    color: #FFFFEE;
    &:hover {
      color: #FFFFEE;
      background: $color-hover;
    }
  }
}
