<div class="quick-form" #formResponse>
  <form [formGroup]="this.commentService.schema" (ngSubmit)="submitComment()">
    <div class="alert alert-primary header-box-response">
      <span class="span-tab">Respuesta al hilo {{responseId}}</span>
      <button type="button" class="close" style="margin-top: -3px;">
        <span aria-hidden="true" class="span-tab" (click)="hiddenResponseForm(formResponse)">&times;</span>
      </button>
    </div>
    <div class="form-style">
      <span class="box-form">Opciones</span>
      <div>
        <select style="width: 75px; height: 36px" formControlName="option">
          <option></option>
          <option>OP</option>
          <option>sage</option>
          <option>noko</option>
          <option>nokosage</option>
          <option>OPsage</option>
        </select>

        <span class="base-button" style="font-weight: bold; padding-left: 15px"
              (click)="pushData('\'\'\'\'\'\'', postResponse.selectionStart, postResponse.selectionEnd, true)">N</span>
        <span class=""> / </span>
        <span class="base-button" style="font-style: italic"
              (click)="pushData('\'\'\'\'', postResponse.selectionStart, postResponse.selectionEnd, true)">C</span>
        <span class=""> / </span>
        <span class="base-button" style="text-decoration: underline"
              (click)="pushData('\_\_\_\_', postResponse.selectionStart, postResponse.selectionEnd, true)">S</span>
        <span class=""> / </span>
        <span class="base-button" style="text-decoration:line-through"
              (click)="pushData('\~\~\~\~', postResponse.selectionStart, postResponse.selectionEnd, true)">T</span>
      </div>
      <button type="submit" class="button-send"
              [disabled]="isLoadComment">{{isLoadComment ? 'Espere' : 'Enviar'}}</button>


      <span class="box-form">Post</span>
      <div class="base-text" style="grid-column-start: 2; grid-column-end: 4">
          <textarea class="text-area" (keyup)="getShortfall(postResponse.value, true)" #postResponse required
                    formControlName="comment"></textarea>
        <p class="second-text">te quedan {{shortFallComment}} caracteres</p>
      </div>

      <span class="box-form">Archivo</span>
      <input (change)="fileChanged($event, true)" type="file" class="form-control-file input-file">

    </div>
  </form>
</div>

<div class="header-tabs">
  <div class="alert alert-primary header-box-tabs">
    <span class="span-tab" routerLink="/">Inicio</span>
    <span class="span-separator"> / </span>
    <span class="span-tab">Reglas</span>
    <ng-container *ngFor="let board of boards">
      <span class="span-separator"> [ </span>
      <ng-container *ngFor="let data of board.board; let last = last">
        <span class="span-tab" [routerLink]="['/board/' + data.slug]">{{data.slug.toLowerCase()}}</span>
        <span class="span-separator" *ngIf="!last"> / </span>
      </ng-container>
      <span class="span-separator"> ] </span>
    </ng-container>

  </div>
  <div class="logo">
    <h3 class="text-logo">/{{boardData?.slug}}/ - {{boardData?.name}}
      <span class="span-logo" *ngIf="boardData?.nsfw">NSFW</span>
    </h3>
  </div>
  <hr class="hr">
  <div class="row">
    <div class="base-button col-auto mr-auto">
      [Catálogo]
    </div>
    <div class="base-input">
      <input type="text" placeholder="Buscar hilo..." class="input-form search-thread col-auto" #searchThread>
    </div>
  </div>
  <div class="container">
    <form [formGroup]="this.threadService.schema" (ngSubmit)="submit()">
      <div class="form-style">
        <span class="box-form">Título</span>
        <div>
          <input class="form-control input-form" type="text" required formControlName="title">
        </div>
        <button type="submit" class="button-send"
                [disabled]="isLoad || threadService.schema.invalid">{{isLoad ? 'Espere' : 'Enviar'}}</button>

        <span class="box-form">Opciones</span>
        <div style="grid-column-start:2; grid-column-end: 4">

          <select style="width: 75px; height: 36px" formControlName="option">
            <option></option>
            <option>OP</option>
            <option>sage</option>
            <option>noko</option>
            <option>nokosage</option>
            <option>OPsage</option>
          </select>

          <span class="base-button" style="font-weight: bold; padding-left: 15px"
                (click)="pushData('\'\'\'\'\'\'', post.selectionStart, post.selectionEnd)">N</span>
          <span class=""> / </span>
          <span class="base-button" style="font-style: italic"
                (click)="pushData('\'\'\'\'', post.selectionStart, post.selectionEnd)">C</span>
          <span class=""> / </span>
          <span class="base-button" style="text-decoration: underline"
                (click)="pushData('\_\_\_\_', post.selectionStart, post.selectionEnd)">S</span>
          <span class=""> / </span>
          <span class="base-button" style="text-decoration:line-through"
                (click)="pushData('\~\~\~\~', post.selectionStart, post.selectionEnd)">T</span>
        </div>

        <span class="box-form">Post</span>
        <div class="base-text" style="grid-column-start: 2; grid-column-end: 4">
          <textarea class="text-area" (keyup)="getShortfall(post.value)" #post required
                    formControlName="comment"></textarea>
          <p class="second-text">te quedan {{shortFall}} caracteres</p>
        </div>

        <span class="box-form">Archivo</span>
        <input (change)="fileChanged($event)" type="file" class="form-control-file input-file">

      </div>
    </form>
    <div class="base-text" style="text-align: center; padding-top: 10px">
      <span
        class="second-text">Tipos de archivo: GIF, JPG, MP3, MP4, OGG, PDF, PNG, SWF, WEBM . Tamaño máximo: 50 MB.</span>
    </div>
  </div>
</div>

<div class="box-thread">
  <hr class="hr">
  <ng-container *ngFor="let thread of threads?.docs; let index = index">
    <div class="padding-top">
      <a target="_blank"
         href="{{hostUrl + '/file/' + thread.file.key}}">{{thread.file.fileId + '.' + thread.file.nameFileOriginal.split('.').pop()}}</a>
      <a style="font-weight: bold; padding-left: 5px; padding-right: 5px" target="_blank"
         href="https://www.google.com/searchbyimage?image_url={{hostUrl + '/file/' + thread.file.key}}">[S]</a>
      <span class="text-span-info">({{thread.file.size}}{{thread.file.dimension ? ' , ' + thread.file.dimension : ''}}
        , <span class="span-ellipsis">{{thread.file.nameFileOriginal}}</span>)</span>
    </div>
    <div class="box-content row">
      <img *ngIf="thread.file.type === 'image'" src="{{hostUrl + '/file/' + thread.file.key}}"
           class="image-size img-fluid" (load)="utils.initImage($event.target)"
           (click)="utils.resizeImage($event.target)"/>
      <video *ngIf="thread.file.type === 'video'" src="{{hostUrl + '/file/' + thread.file.key}}"
             class="image-size img-fluid" (load)="utils.initImage($event.target)"
             (click)="utils.resizeVideo($event.target)">
      </video>

      <div class="header-tab-thread">
        <span class="span-title">{{thread.title}}</span>
        <span class="span-author">{{thread.option}}</span>
        <span class="span-date">{{thread.created_at | date : 'dd/MM/yyyy HH:mm': 'UTC' }}</span>
        <span class="span-copy" [routerLink]="['/thread/' + thread.threadId]">/#/</span>
        <span class="span-copy"
              (click)="showResponseForm(formResponse, thread.threadId.toString(), thread.threadId.toString())">{{thread.threadId}}</span>
        <span class="span-copy">[X]</span>
        <button class="button-resp btn btn-sm" [routerLink]="['/thread/' + thread.threadId]">Responder</button>

        <br>
        <p class="comment-p" [innerHTML]="thread.comment | formatPipe"></p>

        <div *ngIf="thread.comments.length !== 0">
          <button class="button-plus btn btn-sm" (click)="getAllComments(thread._id, index)">+</button>
          <span
            class="span-stats">R: {{thread.countComment}} {{thread.countImage !== 0 ? '/ I: ' + thread.countImage : ''}} {{thread.countVideo !== 0 ? '/ V: ' + thread.countVideo : ''}}</span>
        </div>
      </div>

      <div class="box-base">
        <ng-container *ngFor="let commentThread of thread?.comments">
          <div class="card box-response">
            <div class="card-header header">
              <span class="span-author">{{commentThread.option}}</span>
              <span class="span-date">{{commentThread.created_at | date : 'dd/MM/yyyy HH:mm': 'UTC' }}</span>
              <span class="span-copy"
                    [routerLink]="['/thread/' + thread.threadId + '/' + commentThread.commentId]">/#/</span>
              <span class="span-copy"
                    (click)="showResponseForm(formResponse, commentThread.commentId.toString(), thread.threadId.toString())">{{commentThread.commentId}}</span>
              <span class="span-copy">[X]</span>

              <br>
              <span class="text-span-info"
                    *ngIf="commentThread.file">({{commentThread.file.size}}{{commentThread.file.dimension ? ' , ' + commentThread.file.dimension : ''}}
                , <span class="span-ellipsis">{{commentThread.file.nameFileOriginal}}</span>)</span>
            </div>

            <div class="card-body row body">
              <img *ngIf="commentThread.file?.type === 'image'" src="{{hostUrl + '/file/' + commentThread.file.key}}"
                   class="image-size img-fluid" (load)="utils.initImage($event.target)"
                   (click)="utils.resizeImage($event.target)"/>
              <video *ngIf="commentThread.file?.type === 'video'" src="{{hostUrl + '/file/' + commentThread.file.key}}"
                     class="image-size img-fluid" (load)="utils.initImage($event.target)"
                     (click)="utils.resizeVideo($event.target)">
              </video>

              <div class="header-tab-thread">
                <p class="comment-p" [innerHTML]="commentThread.comment | formatPipe"></p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <hr class="hr">
  </ng-container>
  <div>
    <nav aria-label="...">
      <ul class="pagination pagination-sm">
        <div class="pagination-custom">
          <li class="page-item" *ngIf="threads.page === 0" ><a class="page-link a-style next-prev-button"
                                                              [routerLink]="['/board/' + boardData.slug + '/'+ threads.prevPage]"><<</a>
          </li>
          <ng-container *ngFor="let i of threadsNumberArray">
            <li class="page-item disabled" *ngIf="(i + 1) === threads.page">
              <a class="page-link a-style a-selected" tabindex="-1">{{i + 1}}</a>
            </li>
            <li class="page-item" *ngIf="(i + 1) !== threads.page" [routerLink]="['/board/' + boardData.slug + '/'+ (i + 1)]"><a
              class="page-link a-style">{{i + 1}}</a></li>
          </ng-container>
          <li class="page-item" *ngIf="(threads.page + 1) === threads.totalPages"><a class="page-link a-style next-prev-button"
                                   [routerLink]="['/board/' + boardData.slug + '/'+ threads.nextPage]">>></a></li>
        </div>
      </ul>
    </nav>
  </div>
</div>
