<div class="body-rules">
  <div class="text-center padding">
    <img src="./assets/images/ucnchan.png" class="img-fluid"/>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-header text-center title">
        <h1 class="h1-style-header"><strong>BLOG/NOTICIAS</strong></h1>
      </div>
    </div>

    <div class="box">
      <div class="card box-border">
        <div class="card-header text-center title-box">
          <h1 class="h1-style">VERSIÓN BETA (15/10/2019)</h1>
        </div>
        <div class="card-body">
          <p class="normal-text">
            Para cuando alguien pueda leer esto, me complace anunciar la primera versión de este tablón de
            imagenes {{appName}} - 0.1.
          </p>

          <p class="normal-text">
            Además de abrir las puertas a los desarrolladores que encuentren este proyecto un poco interesante y queran
            aportar código al repositorio en GitHub, tenemos varios "features" más por implementar y te necesitamos.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
